@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'),
    url(./assets/fonts/georgia-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), url(./assets/fonts/arial-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  src: local('Arial-Italic'), local('Arial Italic'),
    url(./assets/fonts/arial-italic.ttf) format('truetype');
}

:root {
  scroll-behavior: smooth;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Georgia', serif;
  font-weight: 400;
}

h2 {
  font-size: 44px;
  line-height: 57.2px;
}

h3 {
  font-size: 35px;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
  line-height: 130%;
}

h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

p {
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 400px) {
  h2,
  h3 {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
  }
}

.container {
  max-width: 1280px;
  /* min-width: 1280px; */
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 20px;
  }
}

.button-link {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 45px;
  font-family: 'Georgia', serif;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: var(--color-dark-3xl);
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s;
}

.button-link:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.button-link_colored {
  background-color: var(--color-primary);
}

.button-link_bordered {
  padding: 13px 43px;
  border: 2px solid var(--color-primary);
}

.nav-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 52px;
  height: 52px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: var(--color-dark-3xl);
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.nav-button:active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  transition-duration: 0.1s;
}

.nav-button_disabled {
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
  cursor: default;
}

.nav-button_colored {
  background-color: var(--color-primary);
}

.nav-button_disabled:hover {
  background-color: transparent;
  border-color: var(--color-dark-s);
}

.nav-button__ico {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-button__ico_left-arrow {
  background-image: url(./assets/icons/Arrow-left.svg);
}

.nav-button__ico_right-arrow {
  background-image: url(./assets/icons/Arrow-right.svg);
}

.gradient-background {
  background: url(./assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

/* Header */

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  --color-wordmark: var(--color-primary);
  --color-hover: var(--color-primary-light);
  --color-tagline: var(--color-light-xl);
}

.logo_dark {
  --color-wordmark: var(--color-dark-l);
  --color-hover: var(--color-dark-m);
  --color-tagline: var(--color-dark-3xl);
}

.logo__wordmark {
  margin: 0;
  font-size: 32px;
  /* line-height: normal; */
  color: var(--color-wordmark);
  letter-spacing: 0.06em;
  transition: all 0.3s;
}

.logo:hover > .logo__wordmark {
  color: var(--color-hover);
}

.logo__tagline {
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: normal;
  color: var(--color-tagline);
  letter-spacing: 0.1em;
}

.navigation {
  font-size: 15px;
  --color-link: var(--color-dark-s);
  --color-hover: var(--color-light-s);
  --color-selected: var(--color-light-s);
  --color-border: var(--color-primary);
}

.navigation_dark {
  --color-link: var(--color-dark-l);
  --color-hover: var(--color-dark-3xl);
  --color-selected: var(--color-dark-3xl);
  --color-border: var(--color-primary);
}

.navigation__burger {
  display: none;
}

.navigation__list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  padding: 4px 0;
  color: var(--color-link);
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.navigation__item:hover {
  color: var(--color-hover);
}

.navigation__item:active {
  border-color: var(--color-border);
  transition-duration: 0.1s;
}

.navigation__item_selected {
  color: var(--color-selected);
  border-bottom: 3px solid var(--color-border);
  cursor: default;
}

.navigation__item:not(:first-child) {
  margin-left: 36px;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

@media (max-width: 767px) {
  .navigation__burger {
    display: block;
  }

  .navigation__list {
    display: none;
  }
}

/* Not only section */

.not-only {
  padding-top: 60px;
}

.not-only__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.not-only__heading {
  max-width: 400px;
  margin-top: min(40%, 164px);
  margin-bottom: 40px;
  color: var(--color-light-xl);
}

.not-only__text {
  max-width: 460px;
  color: var(--color-dark-s);
}

.not-only__button {
  margin-top: 28px;
  margin-bottom: 100px;
}

.not-only__image {
  max-width: 698px;
  min-width: 568px;
  width: 100%;
  /* object-fit: contain; */
  align-self: end;
}

@media (max-width: 900px) {
  .not-only {
    padding-top: 31px;
  }

  .not-only__container {
    flex-direction: column;
    align-items: center;
  }

  .not-only__heading {
    margin-top: 0px;
  }

  .not-only__button {
    display: block;
    width: fit-content;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }

  .not-only__image {
    max-width: 568px;
    min-width: 260.5px;
    /* align-self: end; */
  }
}

@media (max-width: 400px) {
  .not-only {
    padding-top: 30px;
  }

  .not-only__container {
    padding: 0 10px;
  }

  .not-only__content {
    text-align: center;
  }

  .not-only__heading {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .not-only__image {
    width: 80%;
    margin-top: 5px;
  }
}

/* About section */

.about {
  padding: 80px 0 89px;
}

.about__container {
  display: flex;
  justify-content: center;
}

.about__image {
  max-height: 408px;
  object-fit: contain;
}

.about__content {
  max-width: 430px;
  margin-left: min(10%, 120px);
}

.about__heading {
  margin-top: 15px;
  margin-bottom: 23px;
}

.about__text {
  margin: 23px 0 25px;
  color: var(--color-dark-xl);
}

@media (max-width: 900px) {
  .about {
    padding: 66px 0 100px;
  }

  .about__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__image {
    margin-top: 55px;
  }

  .about__content {
    max-width: 430px;
    margin-left: 0;
  }

  .about__image {
    max-width: 300px;
    min-width: 260px;
    width: 80%;
  }
}

@media (max-width: 400px) {
  .about {
    padding: 28px 0 43px;
  }

  .about__container {
    padding: 0 25px;
  }

  .about__heading {
    text-align: center;
  }

  .about__text {
    margin: 22px 0;
    text-align: justify;
  }

  .about__image {
    margin-top: 19px;
  }
}

/* Our friends section */

.our-friends {
  padding: 52px 0 100px;
  background-color: var(--color-light-l);
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends__heading {
  max-width: 400px;
  margin-top: 29px;
  /* font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%; */
  color: var(--color-dark-l);
  text-align: center;
}

.our-friends__slider {
  align-self: stretch;
  margin-top: 23px;
}

.our-friends__pagination {
  margin-top: 23px;
}

.our-friends__button {
  margin-top: 60px;
}

@media (max-width: 900px) {
  .our-friends__pagination {
    margin-top: -7px;
    margin-bottom: -24px;
  }
}

@media (max-width: 400px) {
  .our-friends {
    padding: 27px 0 26px;
  }

  .our-friends__container {
    padding: 15px;
  }

  .our-friends__heading {
    margin-top: 0;
  }

  .our-friends__slider {
    margin-top: 16px;
  }

  .our-friends__button {
    margin-top: 42px;
  }

  .our-friends__pagination {
    margin-top: 16px;
    margin-bottom: 1px;
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 990px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .slider__cards-wrapper {
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .slider__cards-wrapper {
    justify-content: space-between;
    max-width: 580px;
  }
}

@media (max-width: 750px) {
  .slider__cards-wrapper {
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .slider {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .slider__cards-wrapper {
    order: -1;
  }

  .slider__button {
    margin-top: 20px;
  }

  .slider__button:first-child {
    margin-left: 12px;
  }

  .slider__button:last-child {
    margin-right: 12px;
  }
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 60px;
}

.pagination__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
}

.pagination__navigation {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

@media (max-width: 900px) {
  .pagination {
    row-gap: 40px;
  }
}

@media (max-width: 400px) {
  .pagination {
    row-gap: 42px;
  }

  .pagination__navigation {
    column-gap: 10px;
  }
}

.ward-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  min-width: 270px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.ward-card:hover {
  background-color: var(--color-light-xl);
}

.ward-card:hover > .ward-card__button {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.ward-card__title {
  margin: 30px 0;
}

@media (max-width: 1100px) {
  .ward-card_display_desktop-only {
    display: none;
  }
}

@media (max-width: 750px) {
  .ward-card_display_desktop-tablet {
    display: none;
  }
}

/* Help section */

.help {
  padding: 52px 0 59px;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__heading {
  max-width: 350px;
  margin-top: 29px;
  text-align: center;
}

.help__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9px;
}

.help__card {
  margin: 14px 60px;
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-card__title {
  margin-top: 30px;
}

@media (max-width: 1100px) {
  .help {
    padding-bottom: 60px;
  }

  .help__card {
    margin: 14px 30px;
    width: 170px;
  }
}

@media (max-width: 520px) {
  .help__card {
    margin: 9px 0 0;
    width: 120px;
  }

  .help__cards-wrapper {
    justify-content: space-between;
    margin-top: 8px;
  }

  .help-card__image {
    max-width: 50px;
  }

  .help-card__title {
    margin-top: 21px;
    font-size: 15px;
    line-height: 110%;
  }
}

@media (max-width: 400px) {
  .help {
    padding: 42px 0 23px;
  }

  .help__heading {
    max-width: 260px;
    margin-top: 0;
  }
}

/* In addition section */

.in-addition {
  padding: 70px 0 89px;
  background-color: var(--color-light-l);
}

.in-addition__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 150px; */
}

.in-addition__content {
  max-width: 380px;
  margin-left: 29px;
}

.in-addition__heading {
  margin-top: 10px;
  margin-bottom: 19px;
}

.in-addition__text {
  font-family: 'Georgia', serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition__card {
  margin-top: 5px;
}

.in-addition__legal-info {
  margin-top: 20px;
  font-style: italic;
  font-size: 12px;
  line-height: 18px; /* or 150% */
  color: var(--color-dark-m);
}

@media (max-width: 1000px) {
  .in-addition {
    padding-top: 71px;
    padding-bottom: 100px;
  }

  .in-addition__container {
    flex-direction: column-reverse;
  }

  .in-addition__content {
    margin-left: 0;
  }

  .in-addition__image {
    margin-top: 48px;
    max-width: 505px;
    min-width: 260px;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .in-addition {
    padding-top: 32px;
    padding-bottom: 42px;
  }

  .in-addition__heading {
    text-align: center;
    margin-bottom: 23px;
  }

  .in-addition__text {
    text-align: center;
    letter-spacing: 0;
  }

  .in-addition__card {
    margin-top: 9px;
  }

  .in-addition__legal-info {
    text-align: justify;
  }

  .in-addition__image {
    margin-top: 30px;
  }
}

.credit-card {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 9px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-decoration: none;
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.credit-card:hover {
  background-color: var(--color-primary-light);
}

.credit-card__number {
  margin-left: 15px;
}

@media (max-width: 420px) {
  .credit-card {
    font-size: 15px;
    line-height: 150%;
  }
}

/* Footer */

.footer {
  padding-top: 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 17px;
  max-width: 300px;
  min-width: 300px;
  height: 232px;
}

.footer__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-light-xl);
}

.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link-text {
  margin-left: 20px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.footer__image {
  margin-left: 20px;
}

@media (max-width: 1020px) {
  .footer {
    padding-top: 13px;
  }

  .footer__container {
    justify-content: space-evenly;
  }

  .footer__image {
    margin-left: 0;
    margin-top: 67px;
    max-width: 300px;
    min-width: 260px;
    width: 90%;
  }
}

@media (max-width: 400px) {
  .footer__info {
    align-items: center;
    height: 208px;
  }

  .footer__info:last-of-type {
    height: 222px;
    margin-top: 40px;
  }

  .footer__heading {
    max-width: 280px;
    text-align: center;
  }

  .footer__info:last-of-type .footer__link {
    align-self: flex-start;
  }

  .footer__image {
    margin-top: 40px;
  }
}
