@font-face {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'),
    url(./assets/fonts/georgia-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: local('Arial'), url(./assets/fonts/arial-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  src: local('Arial-Italic'), local('Arial Italic'),
    url(./assets/fonts/arial-italic.ttf) format('truetype');
}

:root {
  scroll-behavior: smooth;

  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-3xl: #292929;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Georgia', serif;
  font-weight: 400;
}

h2 {
  font-size: 44px;
  line-height: 57.2px;
}

h3 {
  font-size: 35px;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
  line-height: 130%;
}

h4 {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

p {
  font-size: 15px;
  line-height: 24px;
}

.container {
  box-sizing: content-box;
  max-width: 1280px;
  min-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.button-link {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 45px;
  font-family: 'Georgia', serif;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: var(--color-dark-3xl);
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s;
}

.button-link:hover {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.button-link_colored {
  background-color: var(--color-primary);
}

.button-link_bordered {
  padding: 13px 43px;
  border: 2px solid var(--color-primary);
}

.nav-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  color: var(--color-dark-3xl);
  background-color: transparent;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-button:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.nav-button:active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  transition-duration: 0.1s;
}

.nav-button_disabled {
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
  cursor: default;
}

.nav-button_colored {
  background-color: var(--color-primary);
}

.nav-button_disabled:hover {
  background-color: transparent;
  border-color: var(--color-dark-s);
}

.nav-button__ico {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav-button__ico_left-arrow {
  background-image: url(./assets/icons/Arrow-left.svg);
}

.nav-button__ico_right-arrow {
  background-image: url(./assets/icons/Arrow-right.svg);
}

.gradient-background {
  background: url(./assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

/* Header */

.header {
  padding: 30px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;

  --color-wordmark: var(--color-primary);
  --color-hover: var(--color-primary-light);
  --color-tagline: var(--color-light-xl);
}

.logo_dark {
  --color-wordmark: var(--color-dark-l);
  --color-hover: var(--color-dark-m);
  --color-tagline: var(--color-dark-3xl);
}

.logo__wordmark {
  margin: 0;
  font-size: 32px;
  /* line-height: normal; */
  color: var(--color-wordmark);
  letter-spacing: 0.06em;
  transition: all 0.3s;
}

.logo:hover > .logo__wordmark {
  color: var(--color-hover);
}

.logo__tagline {
  margin-top: 9px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: normal;
  color: var(--color-tagline);
  letter-spacing: 0.1em;
}

.navigation {
  font-size: 15px;
  --color-link: var(--color-dark-s);
  --color-hover: var(--color-light-s);
  --color-selected: var(--color-light-s);
  --color-border: var(--color-primary);
}

.navigation_dark {
  --color-link: var(--color-dark-l);
  --color-hover: var(--color-dark-3xl);
  --color-selected: var(--color-dark-3xl);
  --color-border: var(--color-primary);
}

.navigation__list {
  display: flex;
  padding: 0;
  list-style-type: none;
}

.navigation__item {
  padding: 4px 0;
  color: var(--color-link);
  transition: all 0.3s;
  cursor: pointer;
}

.navigation__item:hover {
  color: var(--color-hover);
}

.navigation__item:active {
  border-bottom: 3px solid var(--color-border);
  transition-duration: 0.1s;
}

.navigation__item_selected {
  color: var(--color-selected);
  border-bottom: 3px solid var(--color-border);
  cursor: default;
}

.navigation__item:not(:first-child) {
  margin-left: 36px;
}

.navigation__link {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

/* Not only section */

.not-only {
  padding-top: 60px;
}

.not-only__container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.not-only__heading {
  max-width: 400px;
  margin-top: 164px;
  margin-bottom: 40px;
  color: var(--color-light-xl);
}

.not-only__text {
  max-width: 460px;
  color: var(--color-dark-s);
}

.not-only__button {
  margin-top: 28px;
}

/* About section */

.about {
  padding: 80px 0 89px;
}

.about__container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0 175px; */
}

.about__image {
  max-height: 408px;
}

.about__content {
  max-width: 430px;
  margin-left: 120px;
}

.about__heading {
  margin-top: 15px;
  margin-bottom: 23px;
}

.about__text {
  margin: 23px 0 25px;
  color: var(--color-dark-xl);
}

/* Our friends section */

.our-friends {
  padding: 52px 0 100px;
  background-color: var(--color-light-l);
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends__heading {
  max-width: 400px;
  margin-top: 29px;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  color: var(--color-dark-l);
  text-align: center;
}

.our-friends__slider {
  align-self: stretch;
  margin-top: 23px;
}

.our-friends__pagination {
  margin-top: 23px;
}

.our-friends__button {
  margin-top: 60px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__cards-wrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  max-width: 990px;
}

.pagination {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.pagination__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination__card {
  margin-bottom: 30px;
}

.pagination__navigation {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.pagination__button {
  margin: 0 10px;
}

.ward-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.ward-card:hover {
  background-color: var(--color-light-xl);
}

.ward-card:hover > .ward-card__button {
  border-color: var(--color-primary-light);
  background-color: var(--color-primary-light);
}

.ward-card__title {
  margin: 30px 0;
}

/* Help section */

.help {
  padding: 52px 0 59px;
}

.help__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help__heading {
  max-width: 350px;
  margin-top: 29px;
  text-align: center;
}

.help__cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 9px;
}

.help__card {
  margin: 14px 60px;
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help-card__title {
  margin-top: 30px;
}

/* In addition section */

.in-addition {
  padding: 70px 0 89px;
  background-color: var(--color-light-l);
}

.in-addition__container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0 150px; */
}

.in-addition__content {
  max-width: 380px;
  margin-left: 29px;
}

.in-addition__heading {
  margin-top: 10px;
  margin-bottom: 19px;
}

.in-addition__text {
  font-family: 'Georgia', serif;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.in-addition__card {
  margin-top: 5px;
}

.in-addition__legal-info {
  margin-top: 20px;
  font-style: italic;
  font-size: 12px;
  line-height: 18px; /* or 150% */
  color: var(--color-dark-m);
}

.credit-card {
  display: inline-flex;
  padding: 10px 15px;
  border-radius: 9px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  text-decoration: none;
  background-color: var(--color-primary);
  transition: all 0.3s;
}

.credit-card:hover {
  background-color: var(--color-primary-light);
}

.credit-card__number {
  margin-left: 15px;
}

/* Footer */

.footer {
  padding-top: 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 17px;
  max-width: 300px;
  height: 232px;
}

.footer__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-light-xl);
}

.footer__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.3s;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__link-text {
  margin-left: 20px;
  font-family: 'Georgia', serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-primary);
}

.footer__image {
  margin-left: 20px;
}
